<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fourclover.clobee.event.repository.EventRepository">
    <select id="getTotalAttend" parameterType="long" resultType="EventAttendanceDetail">
        SELECT *
        FROM event_attendance_detail
        WHERE user_id = #{userId}
    </select>

    <!-- 출석 이벤트 : 출석 추가하기 -->
    <insert id="addAttendDay" parameterType="EventAttendanceDetail">
        INSERT INTO event_attendance_detail (event_info_id, user_id)
        VALUES (#{event_info_id}, #{user_id})
        RETURNING event_attendance_id
    </insert>

    <select id="getCardEvent" resultType="EventInfo">
        SELECT *
        FROM event_info
    </select>

    <!-- findClover 이벤트 정보 단건 조회 -->
    <select id="selectEventInfoByTypeCd"
            parameterType="int"
            resultType="EventInfo">
        SELECT
            event_info_id,
            event_title,
            event_desc,
            event_type_cd,
            event_start_day,
            event_end_day,
            event_status_cd,
            event_card_url,
            event_card_corp,
            event_qr,
            is_deleted,
            created_at,
            updated_at
        FROM event_info
        WHERE event_type_cd   = #{event_type_cd}
          AND event_status_cd = 702
          AND CURRENT_DATE BETWEEN event_start_day AND event_end_day
    </select>

    <!-- 유저의 클로버 이벤트 정보 조회 -->
    <select id="selectCloverDetailByUserId"
            parameterType="long"
            resultType="com.fourclover.clobee.event.domain.EventFindingCloverDetail">
        SELECT *
        FROM event_finding_clover_detail
        WHERE user_id = #{user_id}
    </select>

    <!--  새 기록 삽입 -->
    <insert id="insertCloverDetail"
            parameterType="com.fourclover.clobee.event.domain.EventFindingCloverDetail"
            useGeneratedKeys="true" keyProperty="event_finding_clover_id">
        INSERT INTO event_finding_clover_detail
        (event_info_id, user_id,
         event_finding_clover_participation_status,
         event_finding_clover_current_stage,
         event_finding_clover_receive_coupon,
         event_finding_clover_attempts_left,
         created_at, updated_at)
        VALUES
            (#{event_info_id}, #{user_id},
             #{event_finding_clover_participation_status},
             #{event_finding_clover_current_stage},
             #{event_finding_clover_receive_coupon},
             #{event_finding_clover_attempts_left},
             NOW(), NOW())
    </insert>


    <!--  기록 업데이트 -->
    <update id="updateCloverDetail"
            parameterType="com.fourclover.clobee.event.domain.EventFindingCloverDetail">
        UPDATE event_finding_clover_detail
        SET
            event_finding_clover_participation_status = #{event_finding_clover_participation_status},
            event_finding_clover_current_stage        = #{event_finding_clover_current_stage},
            event_finding_clover_receive_coupon       = #{event_finding_clover_receive_coupon},
            event_finding_clover_attempts_left        = #{event_finding_clover_attempts_left},
            updated_at = NOW()
        WHERE event_finding_clover_id = #{event_finding_clover_id}
    </update>
</mapper>