<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fourclover.clobee.event.repository.EventRepository">
    <!-- 출석 이벤트 : 사용자별 출석 정보 불러오기 -->
    <select id="getTotalAttend" parameterType="map" resultType="String">
        SELECT EXTRACT(DAY FROM created_at)::int AS created_at
        FROM event_attendance_detail
        WHERE user_id = #{userId}
        <if test="month">
            AND TO_CHAR(created_at, 'MM') = #{month}
        </if>
        <if test="createdAt">
            AND TO_CHAR(created_at, 'YYYY-MM-DD') = TO_CHAR(#{createdAt}, 'YYYY-MM-DD')
        </if>
    </select>

    <!-- 출석 이벤트 : 출석 추가하기 -->
    <insert id="addAttendDay" parameterType="EventAttendanceDetail">
        INSERT INTO event_attendance_detail (event_info_id, user_id)
        VALUES (#{eventInfoId}, #{userId})
        RETURNING event_attendance_id
    </insert>

    <!-- 카드사 : 진행중인 이벤트 불러오기 -->
    <select id="getEventInfo" parameterType="map" resultType="EventInfo">
        SELECT
            event_info_id,
            event_title,
            event_desc,
            event_type_cd,
            event_start_day,
            event_end_day,
            event_status_cd,
            event_card_url,
            event_card_corp,
            event_qr,
            comCodeInfo.com_desc AS event_card_type, (
                SELECT CASE WHEN COUNT(1) = 0 THEN false ELSE true END AS is_have_card
                FROM user_card_detail
                WHERE user_id = #{userId}
                  AND user_card_brand = eventInfo.event_card_corp
            ) as is_have_card,
            eventInfo.is_deleted,
            eventInfo.created_at,
            eventInfo.updated_at
        FROM event_info eventInfo
            LEFT OUTER JOIN (
                SELECT *
                FROM com_code_info
                WHERE com_group_id = 300
            ) comCodeInfo
            ON eventInfo.event_card_corp = comCodeInfo.com_code_cd
        WHERE event_status_cd = 702
          AND event_type_cd = #{comCodeId}
        ORDER BY is_have_card DESC
        LIMIT #{size} OFFSET #{offset}
    </select>

    <!-- findClover 이벤트 정보 단건 조회 -->
    <select id="selectEventInfoByTypeCd"
            parameterType="int"
            resultType="EventInfo">
        SELECT *
        FROM event_info
        WHERE event_type_cd   = #{eventTypeCd}
          AND event_status_cd = 702
          AND CURRENT_DATE BETWEEN event_start_day AND event_end_day
    </select>

    <!-- 유저의 클로버 이벤트 정보 조회 -->
    <select id="selectCloverDetailByUserId"
            parameterType="long"
            resultType="EventFindingCloverDetail">
        SELECT *
        FROM event_finding_clover_detail
        WHERE user_id = #{userId}
          -- 오늘(현재 날짜) 기록만 조회하려면 아래 한 줄 추가
          AND DATE(created_at) = CURRENT_DATE
        ORDER BY created_at DESC
        LIMIT 1
    </select>

    <!-- 모든 클로버 이벤트 정보 조회 다음 날 배치로 인해 모든 사용자 -->
    <select id="selectCloverDetailByUserList"
            resultType="EventFindingCloverDetail">
        SELECT *
        FROM event_finding_clover_detail
        ORDER BY created_at DESC
    </select>

    <!--  새 기록 삽입 -->
    <insert id="insertCloverDetail"
            parameterType="EventFindingCloverDetail"
            useGeneratedKeys="true" keyProperty="eventFindingCloverId">
        INSERT INTO event_finding_clover_detail
        (event_info_id, user_id,
         event_finding_clover_participation_status,
         event_finding_clover_current_stage,
         event_finding_clover_receive_coupon,
         event_finding_clover_attempts_left,
         created_at, updated_at)
        VALUES
            (#{eventInfoId}, #{userId},
             #{eventFindingCloverParticipationStatus},
             #{eventFindingCloverCurrentStage},
             #{eventFindingCloverReceiveCoupon},
             #{eventFindingCloverAttemptsLeft},
             NOW(), NOW())
    </insert>

    <update id="updateCloverDetail"
            parameterType="EventFindingCloverDetail">
        UPDATE event_finding_clover_detail
        SET
            event_finding_clover_participation_status = #{eventFindingCloverParticipationStatus},
            event_finding_clover_current_stage        = #{eventFindingCloverCurrentStage},
            event_finding_clover_receive_coupon       = #{eventFindingCloverReceiveCoupon},
            event_finding_clover_attempts_left        = #{eventFindingCloverAttemptsLeft},
            updated_at = NOW()
        WHERE event_finding_clover_id = #{eventFindingCloverId}
    </update>

    <!--  이벤트 유형별 템플릿 조회 -->
    <select id="selectCouponTemplatesByEventType"
            parameterType="int"
            resultType="CouponTemplate">
        SELECT *
        FROM coupon_template
        WHERE event_type_cd = #{eventTypeCd}
    </select>

    <!--  쿠폰 발급 기록 저장 -->
    <insert id="insertCouponInfo"
            parameterType="CouponInfo"
            useGeneratedKeys="true"
            keyProperty="couponInfoId">
        INSERT INTO coupon_info (
            user_id,
            template_id,
            coupon_used_yn,
            coupon_done_yn,
            created_at,
            updated_at
        ) VALUES (
            #{userId},
            #{templateId},
            #{couponUsedYn},
            #{couponDoneYn},
            NOW(),
            NOW()
        )
    </insert>

    <!-- 친구 초대 이벤트 : -->
    

</mapper>