<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fourclover.clobee.user.repository.UserRepository">

    <insert id="insertUser" parameterType="UserInfo" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO user_info
        (user_login_type, user_email, user_password, user_nickname,
         user_birthday, user_phone, user_invitation_code,
         user_phone_verified, user_agreed_privacy, created_at, updated_at)
        VALUES
            (#{userLoginType}, #{userEmail}, #{userPassword}, #{userNickname},
             #{userBirthday}, #{userPhone}, #{userInvitationCode},
             #{userPhoneVerified}, #{userAgreedPrivacy}, NOW(), NOW())
    </insert>

    <select id="findByEmail" resultType="UserInfo">
        SELECT * FROM user_info WHERE user_email = #{userEmail} AND is_deleted = false
    </select>

    <update id="updateUser" parameterType="UserInfo">
        UPDATE user_info
        SET user_nickname        = #{userNickname},
            user_agreed_privacy  = #{userAgreedPrivacy},
            updated_at           = NOW()
        WHERE user_email = #{userEmail}
    </update>

    <select id="findByPhone" resultType="UserInfo">
        SELECT * FROM user_info WHERE user_phone = #{userPhone} AND is_deleted = false
    </select>

    <select id="findById" resultType="UserInfo">
        SELECT * FROM user_info WHERE user_id = #{userId} AND is_deleted = false
    </select>


    <!-- 친구 초대 : 코드 유효성 확인 -->
    <select id="findUserIdByInvitationCode" resultType="Long">
        SELECT user_id FROM user_info
        WHERE user_invitation_code = #{userId}
    </select>

    <!-- 친구 초대 : userId가 event friends detail 테이블에 존재하는지 확인 -->
    <select id="findEventFriendByUserId" resultType="Long">
        SELECT event_friends_id FROM event_friends_detail
        WHERE user_id = #{invitationCode}
    </select>

    <!-- 친구 초대 이벤트 : 처음 친구를 초대한 고객을 룰렛 테이블에 추가 -->
    <insert id="insertEventFriendsDetail" parameterType="Long">
        INSERT INTO event_friends_detail (
            event_info_id, user_id, event_friends_roulette_count_limit,
            event_friends_roulette_current_count)
        VALUES (156, #{userId}, 0, 0)
    </insert>

    <!-- 친구 초대 이벤트 : 친구 초대 디테일 DTO 가져오기 -->
    <select id="getEventFriendsDetail" resultType="EventFriendsDetail">
        SELECT event_friends_id, event_info_id, user_id, event_friends_roulette_count_limit,
               event_friends_roulette_current_count
        FROM event_friends_detail
        WHERE user_id = #{userId}
    </select>

    <!-- 친구 초대 이벤트 : 룰렛 기회 증가 -->
    <update id="plusRouletteCountLimit">
        UPDATE event_friends_detail
        SET event_friends_roulette_count_limit = event_friends_roulette_count_limit + 1,
            event_friends_roulette_current_count = event_friends_roulette_current_count + 1,
            updated_at = CURRENT_TIMESTAMP
        WHERE event_friends_id = #{eventFriendsId}
    </update>

    <!-- 친구 초대 이벤트 : 친구 초대 로그에 추가 -->
    <insert id="insertEventFriendLog">
        INSERT INTO event_friends_log(
            event_info_id, event_friends_id,
            event_friends_inviter_user_id, event_friends_invited_user_id
        ) VALUES (156, #{eventFriendsId}, #{friendUserId}, #{userId})
    </insert>

</mapper>